form {
  min-width: 600px;
}

form input:focus,
form .mantine-MultiSelect-input:focus,
form .mantine-Input-input:focus,
form .mantine-MultiSelect-input:focus {
  border-color: var(--ledger-800);
}

.mantine-Select-option[data-combobox-selected],
.mantine-Autocomplete-option[data-combobox-selected],
.mantine-MultiSelect-option[data-combobox-selected] {
  background-color: var(--ledger-800);
}

form input:disabled,
form select:disabled,
form input[data-disabled],
form select[data-disabled] {
  color: #696969 !important;
}