form {
  min-width: 600px;
}

form input:focus  {
  border-color: var(--ledger-800);
}

.mantine-Select-option[data-combobox-selected],
.mantine-Autocomplete-option[data-combobox-selected] {
  background-color: var(--ledger-800);
}

